<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Termin vereinbaren</title>
    <script th:replace="fragments/header :: include"></script>

    <script type="text/javascript">
       
    </script>

</head>

<body>
    <div th:replace="fragments/header :: navigation"></div>
    <div class="container" style="margin-top: 2em;">
        <div th:replace="fragments/header :: ueberschrift"></div>

        <form class="needs-validation" action="" method="POST" id="auftrag" novalidate>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <div class="form-row" style="margin-top: 2em;">
                <div class="col-md-4">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" th:field="${auftrag.name}" required>
                    <div class="invalid-feedback">
                        Bitte geben Sie Ihren Namen an!
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="anschrift">Anschrift</label>
                    <input type="text" class="form-control" id="anschrift" th:field="${auftrag.anschrift}" required>
                    <div class="invalid-feedback">
                        Bitte teilen Sie uns Ihre Anschrift mit!
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="kontakt">Email oder Telefonnummer</label>
                    <input type="text" class="form-control" id="kontakt" th:field="${auftrag.kontakt}" required>
                    <div class="invalid-feedback">
                        Bitte teilen Sie Ihren gewünschten Kontakt mit!
                    </div>
                </div>
            </div>
            <div class="form-row" style="margin-top: 2em;">
                <div class="col-md-12">
                    <label for="auftragsBeschreibung">Beschreibung des Auftrages</label>
                    <textarea class="form-control" id="auftragsBeschreibung" rows="3"
                        th:field="${auftrag.auftragsBeschreibung}" required></textarea>
                    <div class="invalid-feedback">
                        Bitte Beschreiben Sie kurz, was wir für Sie machen können.
                    </div>
                </div>

            </div>
            <div class="form-group row" style="margin-top: 2em;">
                <div class="col-md-4">
                    <label for="startDatum">Gewünschtes Startdatum (gerne auch Kalenderwoche)</label>
                </div>
                <div class="col-md-4">

                    <input type="text" class="form-control" id="startDatum" th:field="${auftrag.startDatum}" required>
                    <div class="invalid-feedback">
                        Bitte geben Sie ein gewünschtes Datum an
                    </div>
                </div>

                <div class="col-md-4" sec:authorize="!isAuthenticated()">
                    <button type="submit" class="btn btn-primary float-right">Termin vereinbaren</button>
                </div>
                <div class="custom-control custom-switch col-md-4 float-right" sec:authorize="isAuthenticated()">
                    <input type="checkbox" class="custom-control-input float-right" th:field="${auftrag.status}">
                    <label class="custom-control-label float-right" for="status1">Ist erledigt</label>
                </div>
            </div>
            <div class="row" style="margin-top: 2em;" sec:authorize="isAuthenticated()">
                <div class="col-md-2">
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#loeschen">Löschen</button> 
                </div>
                <div class="col-md-10">
                    <button type="submit" class="btn btn-primary float-right">Auftrag ändern</button>
                </div>
            </div>
        </form>

        <script>
            // Example starter JavaScript for disabling form submissions if there are invalid fields
            (function () {
                'use strict';
                window.addEventListener('load', function () {
                    // Fetch all the forms we want to apply custom Bootstrap validation styles to
                    var forms = document.getElementsByClassName('needs-validation');
                    // Loop over them and prevent submission
                    var validation = Array.prototype.filter.call(forms, function (form) {
                        form.addEventListener('submit', function (event) {
                            if (form.checkValidity() === false) {
                                event.preventDefault();
                                event.stopPropagation();
                            }
                            form.classList.add('was-validated');
                            Response.Redirect("Default.aspx?mess=true");
                        }, false);
                    });
                }, false);
            })();
        </script>

  <!-- Modal Admin -->
  <div class="modal fade" id="loeschen" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Auftrag Löschen?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        Wollen sie den Auftrag wirklich löschen?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Nein</button>
          <a type="button" class="btn btn-danger float-left"
          th:href="@{/delete/{auftragsnummer}(auftragsnummer=${auftrag.auftragsNummer})}">Löschen</a>
        </div>
      </div>
    </div>
  </div>

</div>


    <div th:replace="fragments/header :: footer"></div>
</body>

</html>