<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <script th:replace="fragments/header :: include"></script>
</head>

<body>
  <div th:replace="fragments/header :: navigation"></div>
  <div class="container" style="margin-top: 2em;">
    <div th:replace="fragments/header :: ueberschrift"></div>
  </div> 
    <div class="table-responsive">

      <table class="table">
        <thead>
          <tr>
            <th scope="col">Auftragsnummer</th>
            <th scope="col">Auftragsdatum</th>
            <th scope="col">Kontakt</th>
            <th scope="col">Name</th>
            <th scope="col">Anschrift</th>
            <th scope="col">Auftragsbeschreibung</th>
            <th scope="col">Start Datum</th>
            <th scope="col">Status</th>
            <th scope="col">Bearbeiten</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="auftrag : ${auftraege}">
            <th scope="row" th:text="${auftrag.auftragsNummer}"></th>
            <td th:text="${#dates.format(auftrag.datum, 'dd.MM.yyyy HH:mm')}"></td>
                  <td th:text="${auftrag.kontakt}"></td> 
                  <td th:text="${auftrag.name}"></td>
                  <td th:text="${auftrag.anschrift}"></td>
                  <td th:text="${auftrag.auftragsBeschreibung}"></td>
                  <td th:text="${auftrag.startDatum}"></td>
                  <td th:text="${auftrag.status} ? 'Erledigt': 'nicht erledigt'"></td>    
                  <td><a type="button" class="btn btn-primary" th:href="@{/auftrag/{auftragsnummer}(auftragsnummer=${auftrag.auftragsNummer})}">Bearbeiten</a></td>
            </tr>
          </tbody>
            </table>
    </div>
    <div th:replace="fragments/header :: footer"></div>
</body>

</html>