<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script th:replace="fragments/header :: include"></script>
    <title>ratz-fratz Galerie</title>
</head>

<body>
    <div th:replace="fragments/header :: navigation"></div>
    <div class="container" style="margin-top: 2em;">
        <div th:replace="fragments/header :: ueberschrift"></div>
        <div class="row">

            <div class="col-md-6">
                <div class="card">
                    <div id="carouselExampleCaptions" class="carousel slide  w-auto h-auto" data-ride="carousel">

                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                        </ol>

                        <div class="carousel-inner">

                            <div class="carousel-item active w-100 h-auto">
                                <img src="/images/garten1.jpg" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>Gartenprojekt</h5>
                                    <p>Vorher</p>
                                </div>
                            </div>

                            <div class="carousel-item w-100 h-auto">
                                <img src="/images/garten2.jpg" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>Gartenprojekt</h5>
                                    <p>Fast fertig</p>
                                </div>
                            </div>

                            <div class="carousel-item w-100 h-auto">
                                <img src="/images/garten3.jpg" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>Gartenprojekt</h5>
                                    <p>Nachher</p>
                                </div>
                            </div>
                        </div>

                        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button"
                            data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button"
                            data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Gartenprojekt</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni rerum sequi
                            repellendus quaerat iure est blanditiis rem, sint nobis temporibus incidunt iusto aliquam
                            omnis.
                            Dolorem modi sed nulla perferendis ea.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div id="carouselExampleCaptions1" class="carousel slide  w-auto h-auto" data-ride="carousel">

                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleCaptions1" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleCaptions1" data-slide-to="1"></li>
                        </ol>

                        <div class="carousel-inner">

                            <div class="carousel-item active w-100 h-auto">
                                <img src="/images/gehweg_vorher.jpg" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>Gehweg</h5>
                                    <p>Vorher</p>
                                </div>
                            </div>

                            <div class="carousel-item w-100 h-auto">
                                <img src="/images/gehweg_nachher.jpg" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>Gehweg</h5>
                                    <p>Nachher</p>
                                </div>
                            </div>
                        </div>

                        <a class="carousel-control-prev" href="#carouselExampleCaptions1" role="button"
                            data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleCaptions1" role="button"
                            data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Gehweg</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni rerum sequi
                            repellendus quaerat iure est blanditiis rem, sint nobis temporibus incidunt iusto aliquam
                            omnis.
                            Dolorem modi sed nulla perferendis ea.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 2em;">

            <div class="col-md-6">
                <div class="card">
                    <div id="carouselExampleCaptions2" class="carousel slide  w-auto h-auto" data-ride="carousel">

                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleCaptions2" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleCaptions2" data-slide-to="1"></li>
                        </ol>

                        <div class="carousel-inner">

                            <div class="carousel-item active w-100 h-auto">
                                <img src="/images/laminat1.jpg" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>Laminat</h5>
                                    <p>Vorher</p>
                                </div>
                            </div>

                            <div class="carousel-item w-100 h-auto">
                                <img src="/images/laminat2.jpg" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>Laminat</h5>
                                    <p>Nachher</p>
                                </div>
                            </div>
                        </div>

                        <a class="carousel-control-prev" href="#carouselExampleCaptions2" role="button"
                            data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleCaptions2" role="button"
                            data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Laminat</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni rerum sequi
                            repellendus quaerat iure est blanditiis rem, sint nobis temporibus incidunt iusto aliquam
                            omnis.
                            Dolorem modi sed nulla perferendis ea.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div id="carouselExampleCaptions3" class="carousel slide  w-auto h-auto" data-ride="carousel">

                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleCaptions3" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleCaptions3" data-slide-to="1"></li>
                        </ol>

                        <div class="carousel-inner">

                            <div class="carousel-item active w-100 h-auto">
                                <img src="/images/terasse1.jpg" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>Terasse</h5>
                                    <p>Vorher</p>
                                </div>
                            </div>


                            <div class="carousel-item w-100 h-auto">
                                <img src="/images/terasse2.jpg" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>Terasse</h5>
                                    <p>Nachher</p>
                                </div>
                            </div>
                        </div>

                        <a class="carousel-control-prev" href="#carouselExampleCaptions3" role="button"
                            data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleCaptions3" role="button"
                            data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Terasse</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni rerum sequi
                            repellendus quaerat iure est blanditiis rem, sint nobis temporibus incidunt iusto aliquam
                            omnis.
                            Dolorem modi sed nulla perferendis ea.</p>
                    </div>
                </div>
            </div>
        </div>


    </div>




</body>

</html>