<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>RatzFratz</title>
<script th:replace="fragments/header :: include"></script>
  <script type="text/javascript">
    $(function () {
      $("#login").click(function () {
        window.location.href = "/login";
      });
    });
  </script>
</head>

<body>
  <div th:replace="fragments/header :: navigation"></div>
  <div class="container" style="margin-top: 2em;">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Willkommen bei RatzFratz</h4>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo velit vel dolorem nobis culpa
          qui. Consequuntur, obcaecati. Enim tempore amet corporis illum explicabo ipsa hic accusamus officia suscipit!
          Voluptatibus, aliquid. Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, quia inventore dolorum
          id eaque consequatur saepe incidunt ullam deleniti dolor veritatis aliquam commodi expedita error non
          necessitatibus omnis? Doloremque, perferendis? Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam
          sequi dicta perspiciatis doloremque unde nostrum suscipit rem dolorum sunt. Quaerat natus quia eius, ducimus
          molestiae accusantium perspiciatis perferendis repudiandae. Illo.</p>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-2">
            <button class="btn btn-primary" id="login">Login</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>