<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <title>Hausmeisterservice ratz-fatz Monika Wolff</title>
  <script th:replace="fragments/header :: include"></script>
  <script type="text/javascript">
    $(function () {
      $("#login").click(function () {
        window.location.href = "/login";
      });
    });
  </script>
</head>

<body>
  <div th:replace="fragments/header :: navigation"></div>
  <div class="container" style="margin-top: 2em;">
    <div th:replace="fragments/header :: ueberschrift"></div>
    <div class="row">

      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Garten- und Grünanlagenpflege</h4>
            <p class="card-text">Eine gepflegte und saubere Grünanlage ist ein wichtiges Aushängeschild Ihrer Immobilie
              und schafft Vertrauen bei Mietern und Besuchern.
              Wir übernehmen für Sie die komplette Grundstückpflege Ihrer Immobilie. Wir entlasten Sie bei der
              Instandhaltung Ihrer Objekte - zuverlässig und schnell. Wir bieten Ihnen individuelle Lösungen für
              Grundstückpflege und Reinigung.
              <br><br>
              Wir kümmern uns um Ihre:<br>
              <ul class="list-group">
                <li class="list-group-item">Hof, Zufahrten, Parkplätze und Fußwege</li>
                <li class="list-group-item">Beseitigung von Unrat aus Gartenanlage und Gehwegen</li>
                <li class="list-group-item">Rasen mähen</li>
                <li class="list-group-item">Unkraut Entfernung</li>
                <li class="list-group-item">Heckenschnitt, Büsche und kleine Bäume schneiden</li>
                <li class="list-group-item">Pflege Mülltonnenplatz</li>
              </ul>
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Reinigungsarbeiten und Objektpflege</h4>
            <p class="card-text">Ob Treppenhäuser, Keller oder Tiefgaragen, wir übernehmen alle anfallenden
              Reinigungsarbeiten.
              Die Reinigung und Objektpflege kann individuell täglich, wöchentlich oder nach Vereinbarung erfolgen.
              Alle Hausmeister - Dienstleistungen werden nach Ihren Wünschen und Vorgaben erledigt.
              Als Hausmeisterservice sorgen, anhaltende Sauberkeit und für die Einhaltung der Hausordnung.
              <br><br>
              Wir kümmern uns um Ihre:<br>
              <ul class="list-group">
                <li class="list-group-item">Hof, Zufahrten, Parkplätze und Fußwege kehren</li>
                <li class="list-group-item">Treppenhausreinigung (kehren, saugen, wischen)</li>
                <li class="list-group-item">Flurreinigung</li>
                <li class="list-group-item">Keller-, Wäsche-, Trocken- und Gemeinschaftsräume reinigen</li>
                <li class="list-group-item">Geländer, Briefkästen</li>
                <li class="list-group-item">und vieles mehr</li>
              </ul>
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div th:replace="fragments/header :: footer"></div>
</body>

</html>