<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login</title>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
  <script type="text/javascript">
    $(function() {
      $("#createAccount").click(function() {
        window.location.href ="/register";
      });
    });
  </script>
</head>

<body>
  <h1>Login</h1>
  <form action="" method="POST">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <fieldset>
      <legend>Bitte Einloggen</legend>
      <div th:if="${param.error != null}">
        Fehler beim einloggen
        <div th:if="${SPRING_SECURITY_LAST_EXCEPTION != null}">
          Reason
          <span th:text="${SPRING_SECURITY_LAST_EXCEPTION.message}"></span>
        </div>
      </div>
      <div th:if="${param.Logout != null}">Ausgeloggt</div>
      <p>
        <label for="username">Username</label>
        <input type="text" name="username" id="username" />
      </p>
      <p>
        <label for="password">Passwort</label>
        <input type="password" name="password" id="password" />
      </p>
      <div>
        <button type="submit" class="btn">Log in</button>
        <button type="button" class="btn" id="createAccount">Account erstellen</button>
      </div>
    </fieldset>
  </form>
</body>

</html>