<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registrieren</title>
    <script th:replace="fragments/header :: include"></script>
</head>
<body>
    <div th:replace="fragments/header :: navigation"></div>
    <h2>Account erstellen</h2>
    <form action="" method="POST">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <label for="EmailAdresse">Email Adresse</label><input type="text" th:field="${user.emailAdresse}"/><br/>
        <label for="Passwort">Passwort</label><input type="password" th:field="${user.password}"/><br/>
        <label for="ConfirmPasswort">Passwort bestätigen</label><input type="password" id="confirmedPassword"/><br/>
        <button type="submit" class="btn btn-primary">Account erstellen</button>
    </form>
</body>
</html>